.tooltip-wrapper {
    position: relative;
    display: inline-block;
}

.tooltip {
    position: fixed;
    white-space: nowrap;
    z-index: 200;
    background-color: #000;
    color: #fff;
    padding: 0.375rem 0.75rem;
    border-radius: 0.5rem;
    pointer-events: none;

}

.add-button-tooltip {
    margin: 0rem 0.25rem 1rem 1rem;
}

.send-button-tooltip {
    margin: 0rem 1rem 1rem 0.25rem;
}

/* Tooltip Arrow */
.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
  }
  
/* North Arrow (Below the tooltip) */
.tooltip-arrow--n {
    top: calc(100% - 2px);
    left: 50%;
    transform: translateX(-50%);
    border-width: 8px 8px 0 8px;
    border-color: black transparent transparent transparent;
}

/* South Arrow (Above the tooltip) */
.tooltip-arrow--s {
    bottom: calc(100% - 2px);
    left: 50%;
    transform: translateX(-50%);
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent black transparent;
}

/* East Arrow (Left of the tooltip) */
.tooltip-arrow--e {
    left: 2px;
    top: 50%;
    transform: translate(-100%, -50%);
    border-width: 8px 8px 8px 0;
    border-color: transparent black transparent transparent;
}

/* West Arrow (Right of the tooltip) */
.tooltip-arrow--w {
    right: 2px;
    top: 50%;
    transform: translate(100%, -50%);
    border-width: 8px 0 8px 8px;
    border-color: transparent transparent transparent black;
}

.sidebar-button-tooltip {
    min-width: 2rem;
    min-height: 2rem;
}

.ai-message-button-tooltip {
    margin: 0.25rem 0.5rem 0rem -0.25rem;
}

.user-message-button-tooltip {
    margin: 0.5rem -0.25rem 0 0.5rem;
}

.ai-name-tooltip {
    margin: 1rem;
    height: 2.25rem;
}