.model-selector {
    display: flex;
    align-items: center;
    height: 2.75rem;
    max-height: 2.5rem;
    padding: 0 0.75rem 0 0.75rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 1rem;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    color: #333;
    background-color: #f6f8fa;
    margin-left: 0;
}

.model-selector:hover {
    background-color: #edeeee;
}

.model-icon {
    margin-right: 0.25rem;
}

.openai-icon {
    height: 1.675rem;
}

.perplexity-icon {
    height: 1.25rem;
    margin-right: 0.5rem;
    margin-left: 0.25rem;
}

.selector-icon {
    height: 1.125rem;
    margin-left: 1rem;
}

.internet-icon {
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    border: 1px solid #ccc;
    margin-left: 0.5rem;
    cursor: pointer;
}

.internet-icon img {
    width: 1rem;
}