@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

input {
    border: none;
}

input:focus {
    outline: none;
}

textarea {
    border: none;
}

textarea:focus {
    outline: none;
}

button {
    border: none;
}

.unselectable {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: auto;
    -webkit-touch-callout: none;
}
  
.sharp-svg {
    will-change: transform;
    transform: translateZ(0);
    image-rendering: crisp-edges;
}

.align-start {
    align-self: flex-start;
}

p a {
    background-color: #f6f8fa;
    padding: 0.5rem 0.25rem;
    border-radius: 0.5rem;
}

p a:hover {
    text-decoration: underline;
}

code:not(pre code) {
    background-color: #f6f8fa;
    padding: 0.25rem 0.375rem;
    border-radius: 0.375rem;
    font-family: "Roboto Mono", monospace;
    font-size: 0.875rem;
}

th {
    background-color: #f6f8fa;
    border-radius: 0.5rem;
}

td {
    background-color: #f6f8fa;
    border-radius: 0.5rem;
}

* {
    -webkit-tap-highlight-color: transparent;
}

html, body, #react-root {
    min-height: 100% !important;  /* Ensures it’s not collapsing */
    max-height: 100% !important; 
}

body {
    overflow-y: hidden;
}

#react-root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
}


