.sidebar-chats {
    padding: 0.5rem 0.75rem;
} 

.search-button {
    align-self: flex-start;
    height: 2rem;
    border: 1px solid #d9d9d9;
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 1rem;
    margin: 0 0 0.25rem 0rem;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
    flex-shrink: 0;
    margin-left: auto;
}

.search-button:hover {
    background-color: #f6f8fa;
}

.search-button img {
    height: 1rem; 
    margin-right: 0.125rem;
    margin-left: 0.125rem;
}

.search-button p {
    margin-left: 0.25rem;
    margin-right: 0.675rem;
    margin-top: 1rem;
}