.sidebar-chats {
    padding: 0.5rem 0.75rem;
} 

.search-button {
    align-self: flex-start;
    height: 2rem;
    border: 1px solid #d9d9d9;
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    border-radius: 1rem;
    margin: 0; /* margin: 0 0 0.5rem 0rem; */
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
    flex-shrink: 0;
    margin-left: auto;
}

.search-button:hover {
    background-color: #f6f8fa;
}

.search-button img {
    height: 1rem; 
    margin-right: 0.125rem;
    margin-left: 0.125rem;
}

.search-button p {
    margin-left: 0.25rem;
    margin-right: 0.675rem;
    margin-top: 1rem;
}

.conversations-container {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding-top: 0.25rem;
}

.conversation {
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 0.875rem;
    line-height: 1rem;
    height: 2rem;
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
}

.conversation:hover {
    background-color: #f6f8fa;
}

.search-button-background {
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 100;
    padding-bottom: 0.25rem;
}

.conversation-selected {
    background-color: #f6f8fa;
}