.loading-circle {
    width: 0.875rem;
    height: 0.875rem;
    background-color: #000; 
    border-radius: 50%; 
    animation: pulse 1.5s infinite ease-in-out;
    display: inline-block;
    vertical-align: middle;
    margin-top: 1.25rem;
}
  
@keyframes pulse {
    0% {
        transform: scale(1); 
        opacity: 1;
    }
    50% {
        transform: scale(1.25); 
        opacity: 0.9;
    }
    100% {
        transform: scale(1); 
        opacity: 1;
    }
}