.sidebar {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    line-height: 1.8em;
    /*padding: 0 1rem;*/
    width: 15rem;
    height: 100vh;
    overflow: hidden;
    position: relative;

}

.sidebar-scroll-container {
    overflow-y: overlay;
    width: 14rem;
    flex: 1;
}

.sidebar-scroll-container-closed {
    width: 4rem;
}

.sidebar-scroll-container::-webkit-scrollbar {
    width: 0.375rem;
}

.sidebar-scroll-container::-webkit-scrollbar-track {
    background: transparent;
}

.sidebar-scroll-container::-webkit-scrollbar-thumb {
    background: #e9eaeb;
    border-radius: 3px;
}

.sidebar-scroll-container:hover::-webkit-scrollbar-thumb {
    background: #cfcfcf;
}

.sidebar-scroll-container::-webkit-scrollbar-thumb:hover {
    background: #a0a0a0;
}


.sidebar-closed {
    width: 5rem;
}

.divider {
    width: 1rem;
    display: flex;
    position: relative;
    align-items: center;
    margin-left: -1rem;
    background-color: white;
}

.divider-line {
    width: 0.5rem;
    height: 100%;
    transition: width 0.15s ease-in-out;
    border-right: 1px solid #ebeef1;
}

.divider-button {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: flex-end;
}

/* Animate divider movement */

.divider:has(.divider-button:hover) .divider-line {
    width: 0;
}

.sidebar-closed + .divider:has(.divider-button:hover) .divider-line {
    width: 1rem;
}

/* Arrow animation set-up */

.arrow-container {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    position: absolute;
    width: 2px;
    height: 8px; 
    background-color: #b6c0cd;
    border-radius: 2px;
    transition: transform 0.15s ease-in-out, height 0.15s ease-in-out, left 0.15s ease-in-out;
}

.line-top {
    bottom: 48%;
    transform-origin: bottom center;
    left: 0;
}

.line-bottom {
    top: 48.5%; 
    transform-origin: top center; 
    left: 0;
}

/* Closing arrow animation */

.divider-button:hover .line-top {
    transform: rotate(45deg);
    height: 10px;
    left: -8px;
    background-color: #717b8a;
}

.divider-button:hover .line-bottom {
    transform: rotate(-45deg);
    height: 10px;
    left: -8px;
    background-color: #717b8a;
}

/* Opening arrow animation */

.sidebar-closed + .divider .divider-button:hover .line-top {
    transform: rotate(-45deg);
    height: 10px;
    left: 14px;
    background-color: #717b8a;
}

.sidebar-closed + .divider .divider-button:hover .line-bottom {
    transform: rotate(45deg);
    height: 10px;
    left: 14px;
    background-color: #717b8a;
}

.sidebar-bottom-buttons-container {
    width: 100%;
    height: 5.5rem;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    padding-left: 0.75rem;
    padding-top: 0.25rem;
}

.sidebar-button {
    height: 2rem;
    border: 1px solid #d9d9d9;
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    padding: 0.5rem 0.375rem 0.5rem 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
    box-sizing: border-box;
    margin: 0;
}

.sidebar-button:hover {
    background-color: #f6f8fa;
}

.sidebar-button p {
    margin-right: 0.675rem;
} 

.sidebar-button img {
    height: 1.125rem; 
    margin-right: 0.25rem;
    margin-left: 0.125rem;
}