.notice {
    position: absolute;
    bottom: 0;
    font-size: 0.75rem;
    line-height: 2rem;
    color: #444;
    /* do no wrap */
    white-space: nowrap;
}

.disclaimer:hover {
    text-decoration: underline;
}